.input-container {
  width: 50%;
  padding: 10px;
}

.button-container {
  padding: 10px;
  float: right;
}

.button-container button {
  margin: 10px;
}

.modal-styles {
  min-width: 95%;
  min-height: 95%;
}
